
.bf-button {
  font-size: 14px;
  line-height: 22px;
  color: var(--bf-button-text-color);
  background-color: var(--bf-button-bg-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bf-button-border-color);
  border-radius: 4px;
  outline: none;
  padding: 4px 16px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  transition: .1s;

  .bf-button_icon + .bf-button_text {
    margin-left: 5px;
  }
}

.bf-button + .bf-button {
  margin-left: 10px;
}


// ---------- status 控制按钮颜色 ----------

// 默认按钮
.bf-button.bf-button-status-default:not(:disabled):hover {
  background-color: var(--bf-button-bg-color-hover);
}
.bf-button.bf-button-status-default:not(:disabled):active {
  background-color: var(--bf-button-bg-color-active);
}
// 主要按钮
.bf-button.bf-button-status-primary {
  color: var(--bf-color-blank);
  background-color: var(--bf-color-primary);
  border-color: var(--bf-color-primary);
}
.bf-button.bf-button-status-primary:not(:disabled):hover {
  background-color: var(--bf-color-primary-light);
}
.bf-button.bf-button-status-primary:not(:disabled):active {
  background-color: var(--bf-color-primary-dark);
}
// 成功按钮
.bf-button.bf-button-status-success {
  color: var(--bf-color-blank);
  background-color: var(--bf-color-success);
  border-color: var(--bf-color-success);
}
.bf-button.bf-button-status-success:not(:disabled):hover {
  background-color: var(--bf-color-success-light);
}
.bf-button.bf-button-status-success:not(:disabled):active {
  background-color: var(--bf-color-success-dark);
}
// 警告按钮
.bf-button.bf-button-status-warning {
  color: var(--bf-color-blank);
  background-color: var(--bf-color-warning);
  border-color: var(--bf-color-warning);
}
.bf-button.bf-button-status-warning:not(:disabled):hover {
  background-color: var(--bf-color-warning-light);
}
.bf-button.bf-button-status-warning:not(:disabled):active {
  background-color: var(--bf-color-warning-dark);
}
// 危险按钮
.bf-button.bf-button-status-danger {
  color: var(--bf-color-blank);
  background-color: var(--bf-color-danger);
  border-color: var(--bf-color-danger);
}
.bf-button.bf-button-status-danger:not(:disabled):hover {
  background-color: var(--bf-color-danger-light);
}
.bf-button.bf-button-status-danger:not(:disabled):active {
  background-color: var(--bf-color-danger-dark);
}


// ---------- type 控制边框样式 ----------

// 描边按钮
.bf-button.bf-button-type-outline {
  background-color: var(--bf-button-bg-color);
}
.bf-button.bf-button-type-outline:not(:disabled):hover,
.bf-button.bf-button-type-outline:not(:disabled):active  {
  color: var(--bf-color-blank);
}
// 默认按钮 描边
.bf-button.bf-button-status-default.bf-button-type-outline:not(:disabled):hover,
.bf-button.bf-button-status-default.bf-button-type-outline:not(:disabled):active {
  color: var(--bf-button-text-color);
}
// 主要按钮 描边
.bf-button.bf-button-status-primary.bf-button-type-outline {
  color: var(--bf-color-primary);
  border-color: var(--bf-color-primary);
  background-color: var(--bf-button-bg-color-status-primary-type-outline);
}
// 成功按钮 描边
.bf-button.bf-button-status-success.bf-button-type-outline {
  color: var(--bf-color-success);
  border-color: var(--bf-color-success);
  background-color: var(--bf-button-bg-color-status-success-type-outline);
}
// 警告按钮 描边
.bf-button.bf-button-status-warning.bf-button-type-outline {
  color: var(--bf-color-warning);
  border-color: var(--bf-color-warning);
  background-color: var(--bf-button-bg-color-status-warning-type-outline);
}
// 危险按钮 描边
.bf-button.bf-button-status-danger.bf-button-type-outline {
  color: var(--bf-color-danger);
  border-color: var(--bf-color-danger);
  background-color: var(--bf-button-bg-color-status-danger-type-outline);
}

// 虚线按钮
.bf-button.bf-button-type-dashed {
  border-style: dashed;
  background-color: var(--bf-button-bg-color);
}
.bf-button.bf-button-type-dashed:not(:disabled):hover,
.bf-button.bf-button-type-dashed:not(:disabled):active {
  color: var(--bf-color-blank);
}
// 默认按钮 虚线
.bf-button.bf-button-status-default.bf-button-type-dashed:not(:disabled):hover,
.bf-button.bf-button-status-default.bf-button-type-dashed:not(:disabled):active {
  color: var(--bf-button-text-color);
}
// 主要按钮 虚线
.bf-button.bf-button-status-primary.bf-button-type-dashed {
  color: var(--bf-color-primary);
  border-color: var(--bf-color-primary);
}
// 成功按钮 虚线
.bf-button.bf-button-status-success.bf-button-type-dashed {
  color: var(--bf-color-success);
  border-color: var(--bf-color-success);
}
// 警告按钮 虚线
.bf-button.bf-button-status-warning.bf-button-type-dashed {
  color: var(--bf-color-warning);
  border-color: var(--bf-color-warning);
}
// 危险按钮 虚线
.bf-button.bf-button-status-danger.bf-button-type-dashed {
  color: var(--bf-color-danger);
  border-color: var(--bf-color-danger);
}

// 文字按钮
.bf-button.bf-button-type-text {
  border-color: transparent;
  background-color: var(--bf-button-bg-color);
}
.bf-button.bf-button-type-text:not(:disabled):hover {
  background-color: var(--bf-button-bg-color-hover);
}
.bf-button.bf-button-type-text:not(:disabled):active {
  background-color: var(--bf-button-bg-color-active);
}
// 主要按钮 文字
.bf-button.bf-button-status-primary.bf-button-type-text {
  color: var(--bf-color-primary);
}
// 成功按钮 文字
.bf-button.bf-button-status-success.bf-button-type-text {
  color: var(--bf-color-success);
}
// 警告按钮 文字
.bf-button.bf-button-status-warning.bf-button-type-text {
  color: var(--bf-color-warning);
}
// 危险按钮 文字
.bf-button.bf-button-status-danger.bf-button-type-text {
  color: var(--bf-color-danger);
}


// ---------- round 控制是否圆角 ----------

// 圆角按钮
.bf-button.is-round {
  border-radius: 20px;
}


// ---------- size 控制按钮尺寸 ----------

// 小按钮
.bf-button.bf-button-size-small {
  font-size: 12px;
  line-height: 14px;
  padding: 4px 10px;
}

// 大按钮
.bf-button.bf-button-size-large {
  font-size: 16px;
  line-height: 30px;
  padding: 4px 22px;
}


// ---------- disable 控制是否禁用 ----------

// 禁用按钮
.bf-button.is-disabled {
  cursor: not-allowed;
}

.bf-button.bf-button-type-default.is-disabled,
.bf-button.bf-button-type-outline.is-disabled,
.bf-button.bf-button-type-dashed.is-disabled {
  color: var(--bf-button-text-color-disabled);
  background-color: var(--bf-button-bg-color-disabled);
  border-color: var(--bf-button-border-color);
}

.bf-button.bf-button-type-text.is-disabled {
  color: var(--bf-button-text-color-disabled);
}


// ---------- ghost 幽灵按钮控制背景透明 ----------

// 幽灵按钮
.bf-button.is-ghost {
  background-color: transparent;
}

// 主要按钮
.bf-button.bf-button-status-primary.is-ghost,
.bf-button.bf-button-status-primary.bf-button-type-dashed.is-ghost {
  color: var(--bf-color-primary);
}
// 成功按钮
.bf-button.bf-button-status-success.is-ghost,
.bf-button.bf-button-status-success.bf-button-type-dashed.is-ghost {
  color: var(--bf-color-success);
}
// 警告按钮
.bf-button.bf-button-status-warning.is-ghost,
.bf-button.bf-button-status-warning.bf-button-type-dashed.is-ghost {
  color: var(--bf-color-warning);
}
// 危险按钮
.bf-button.bf-button-status-danger.is-ghost,
.bf-button.bf-button-status-danger.bf-button-type-dashed.is-ghost {
  color: var(--bf-color-danger);
}

.bf-button.bf-button-status-primary.is-ghost:hover,
.bf-button.bf-button-status-success.is-ghost:hover,
.bf-button.bf-button-status-warning.is-ghost:hover,
.bf-button.bf-button-status-danger.is-ghost:hover {
  background-color: var(--bf-button-bg-color-hover);
}
.bf-button.bf-button-status-primary.is-ghost:active,
.bf-button.bf-button-status-success.is-ghost:active,
.bf-button.bf-button-status-warning.is-ghost:active,
.bf-button.bf-button-status-danger.is-ghost:active {
  background-color: var(--bf-button-bg-color-active);
}
