:root.dark {
  --bf-color-title: rgba(0, 0, 0, 0.85);
  --bf-color-primary-text: rgba(0, 0, 0, 0.85);
  --bf-color-secondary-text: rgba(0, 0, 0, 0.45);
  --bf-color-disable: rgba(0, 0, 0, 0.25);
  --bf-color-border: rgba(0, 0, 0, 0.15);
  --bf-color-dividers: rgba(0, 0, 0, 0.06);
  --bf-color-background: rgba(0, 0, 0, 0.04);
  --bf-color-table-header: rgba(0, 0, 0, 0.02);
}
